/* change these */

/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,800");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"); */

* {
    box-sizing: border-box;
}

/* @font-face {
    font-family: "Work Sans";
    src: url("./fonts/WorkSans-Regular.ttf");
}

@font-face {
    font-family: "Work Sans Semi-Bold";
    src: url("./fonts/WorkSans-SemiBold.ttf");
}

@font-face {
    font-family: "Work Sans Bold";
    src: url("./fonts/WorkSans-Bold.ttf");
} */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

@font-face {
    font-family: "Mermaid";
    src: url("./fonts/Mermaid_Bold_700.ttf");
}

@font-face {
    font-family: "Mermaid Swash Caps";
    src: url("./fonts/Mermaid_Swash_Caps_Bold_700.ttf");
}

@font-face {
    font-family: "Playfair";
    src: url("./fonts/PlayfairDisplay-Bold.ttf");
}

/* THIS IS ALL meant for editing. You might want to do it differently, 
name the variables differently, 
use the fonts in other ways in the font hierarchy etc. */

/* change these */
:root {
    --bg-color: white;
    --link-color: #10a3ac;
    --link-hover-color: #00838b;
    --color-1: #fff3e7;
    --color-2: #faa350;
    --color-3: #10a3ac;
    --color-4: #a8e3f2;
    --color-5: #f7fafb;
    /* --color-5: #f5fafb; */

    --primary-font: "Mermaid", sans-serif;
    --secondary-font: "Work Sans", sans-serif;
    --paragraph-font: "Work Sans", sans-serif;
    --numbers-font: "Playfair", sans-serif;
    --main-text-color: #000000;
    --white-space: 1rem;

    --primary-button-hover: #f6902f;
    --secondary-button-hover: #96d8e9;
}

button {
    transition: all 3s;
}
a {
    transition: all 3s;
}
button:hover {
    background-color: var(--primary-button-hover);
    /* transform: scale(3) rotate(40deg); */
}

button:active {
    background-color: var(--bg-color);
}

a:hover {
    color: var(--color-1);
    /* font-size: 4rem; */
}
html {
    font-size: 100%;
    font-family: var(--secondary-font);
}

img {
    max-width: 100%;
    height: auto;
}

header,
main,
footer {
    max-width: 1300px;
    margin: 0 auto;
    padding: calc(2 * var(--white-space));
}

.full-width {
    /* background: var(--bg-color); */
    background-color: var(--color-5);
    color: white;
    width: 100%;
}

.header-wrapper h1 {
    font-size: 2rem;
    font-family: var(--primary-font);
    /* text-transform: uppercase; */
    /* letter-spacing: -2px; */
    padding-right: 0.75em;
    font-weight: 600;
    color: black;
}

.header-wrapper h2 {
    font-size: 1.4em;
    /* color: rgba(255, 255, 255, 0.95); */
    color: black;
    font-family: var(--secondary-font);
    margin: var(--white-space) 0;
}

.header-wrapper h3 {
    font-size: 1.2rem;
    color: black;
    font-family: var(--secondary-font);
    /* font-style: italic; */
}

.header-wrapper h4 {
    font-size: 0.8rem;
    color: var(--color-3);
    padding-top: 0.6rem;
    /* opacity: 0.8; */
    font-family: var(--secondary-font);
}

main {
    padding: calc(2 * var(--white-space));
    border: 7px solid var(--color-1);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

section {
    margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
    font-family: var(--secondary-font);
    /* font-style: italic; */
    font-size: 1.2rem;
    color: #777;
    margin: 0.5rem 0;
    padding-bottom: 1rem;
}

ul {
    font-family: var(--primary-font);
    display: flex;
    justify-content: space-between;
}

.swatches li {
    margin-right: 5vw;
    height: 15vw;
    width: 20%;
    color: black;
}

ul li:last-child {
    margin-right: 0;
}

.color-swatch-1 {
    /* background-color: var(--bg-color); */
    background-color: var(--color-1);
}

.color-swatch-2 {
    background-color: var(--color-2);
}

.color-swatch-3 {
    background-color: var(--color-3);
}

.color-swatch-4 {
    background-color: var(--color-4);
}

.color-swatch-5 {
    background-color: var(--color-5);
}

.textures li {
    height: 30vw;
    width: 40%;
    margin-right: 5vw;
}

.texture-swatch-1 {
    background: url(../img/pw_maze_white.png) top left repeat;
}

.texture-swatch-2 {
    background: url(../img/subtle_grunge.png) top left repeat;
}

.texture-swatch-1 {
    background: url(../img/pw_maze_white.png) top left repeat;
}

.texture-swatch-3 {
    background: url(../img/white_paperboard.png) top left repeat;
}

.images ul {
    flex-direction: column;
    text-align: center;
}

.images li {
    display: block;
    /*margin-right: 5vw;*/
    margin-bottom: 1rem;
}

button {
    padding: 1rem;
    border-radius: 50px;
    background: var(--color-2);
    text-align: center;
    text-decoration: none;
    font: 600 1.25em/1 var(--secondary-font);
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    /* text-shadow: 0px -1px 0px #0374a0; */
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 0 1rem 1rem 0;
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;

    box-shadow: 0px 8px 16px 0px rgba(201, 114, 31, 0.2);
}

button:hover {
    box-shadow: 0px 8px 16px 0px rgba(201, 114, 31, 0.4);
}

.secondary-button {
    background: var(--color-4);
    box-shadow: 0px 8px 16px 0px rgba(31, 159, 192, 0.2);
}

.secondary-button:hover {
    background: var(--secondary-button-hover);
    box-shadow: 0px 8px 16px 0px rgba(31, 159, 192, 0.3);
}

button:focus,
button:active,
button:focus-within {
    outline: 0;
    border-radius: 4px;
}

.typography-main {
    /* color: var(--main-text-color); */
    /* font-family: var(--primary-font); */
}

.h1-sample {
    font-size: 2.4rem;
    padding-top: 0.5rem;
    font-family: var(--primary-font);
}

.h2-sample {
    font-family: var(--secondary-font);
    font-weight: bold;
    /* font-style: italic; */
    font-size: 1.35rem;
}

p.typography-sample {
    font-family: var(--secondary-font);
    line-height: 1.5;
    max-width: 960px;
}

.bold {
    font-weight: bold;
}

strong {
    font-weight: bold;
    color: var(--color-3);
}

.numbers {
    font-family: var(--numbers-font);
    color: var(--primary-button-hover);
}

em {
    /* font-style: italic; */
}

a {
    font-family: var(--primary-font);
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
}

p[class*="font-details-"] {
    margin-top: 0.5rem;
    margin-bottom: calc(2 * var(--white-space));
    font-size: 0.75rem;
    font-family: var(--secondary-font);
    color: #6f6f6f;
}

.adjectives ul {
    font-size: 1.5rem;
    opacity: 0.7;
}

.adjectives ul {
    flex-direction: column;
}

footer {
    /* font-style: italic; */
}

@media (min-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }

    .swatches li {
        margin-right: 3%;
        height: 10vw;
        width: 20%;
    }

    .textures li {
        height: 15vw;
    }
}

@media (min-width: 900px) {
    .adjectives ul {
        flex-direction: row;
    }
}
